# dependencies
node_modules

# testing
coverage

# production
build

# misc
.DS_Store
.env
npm-debug.log
yarn-error.log
_ignore
env.sh
*debug.js

# knex
database/seeds
database/*/temp

# databases
*.sqlite3